.menu-item {
    flex: 1 1 auto;
    min-width: 30%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px 15px;
    overflow: hidden;

    @media screen and (max-width: 800px) {
        width: 40vw;
        height: 200px;
    }

    &:hover {
        cursor: pointer;

        & .content {
            opacity: 0.9;
        }

        & .background-image {
            transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
            transform: scale(1.1);
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        height: 90px;
        background-color: white;
        opacity: 0.7;
        position: absolute;

        & .title {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 6px;
            color: #4a4a4a;
        }

        & .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }

    &.large {
        height: 380px;
    }

    & .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}